@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg: #050505;
  --text1: #bcbcbc;
  --text2: #ffffff;
  --text3: #050505;
  --brand: #3A6CF0;
  --lines: #5E5F60;
  --lines2: #bcbcbc;
  --placeholder: #E3E3E4;
  --shadow:#90909030;

  --bg-lighter: #060606;
  --bg-lighter2: #0f0f0f;
  --bg1: #000000;
  --bg2: #071325;
  --light-bg: #E8E8E8;
  
  --green: #008445;
  --red: #E73F3F;
}

body {
  color: var(--text2);
  background: linear-gradient(178.11deg, var(--bg1) 74.43%, var(--bg2) 152.92%);
  min-height: 100vh;
}

*{
  @apply text-base
}

.authBG{
  background: linear-gradient(185.41deg, #01050B 92.88%, #001755 172.82%);
}

.bodyBG {
  background: linear-gradient(178.11deg, var(--bg1) 74.43%, var(--bg2) 152.92%);
}

.particle1{
  background: linear-gradient(119.69deg, rgba(255, 255, 255, 0.09) 14.19%, rgba(22, 82, 240, 0) 85.99%);
}

.particle2{
  background: linear-gradient(119.69deg, rgba(255, 255, 255, 0.14) 14.19%, rgba(22, 82, 240, 0) 85.99%);

}
.particle3{
  background: linear-gradient(119.69deg, rgba(22, 82, 240, 0.33) 14.19%, rgba(22, 82, 240, 0) 85.99%);
}

.container{
  @apply w-full px-[18px] max-w-[1440px] mx-auto
}

h1,h2,h3{
  @apply text-[--text2] font-semibold
}

h4,h5,h6,p{
  @apply text-[--text1]
}

button, input{
  @apply text-base
}

p{
  @apply text-[--text1] text-base
}

.tab{
  @apply pb-[2px] px-[10px]
}
.tab-active{
  @apply text-[--brand] border-b border-[--brand]
}

.brand-btn{
  @apply text-base bg-[--brand] text-[--text2] w-full h-[40px] rounded-[3rem]
}

.brand-icon-btn{
  @apply text-sm bg-[--brand] text-[--text2] w-full h-[40px] rounded-[3rem] flex gap-3 items-center justify-center
}

.outline-btn{
  @apply text-base border border-[--brand] text-[--brand] w-full h-[40px] rounded-[3rem] flex items-center justify-center
}

.label{
  @apply mb-3 text-[--text2]
}
.input-container{
  @apply border border-[--lines] bg-transparent w-full rounded-lg py-3 px-4 text-base placeholder:text-[--placeholder] focus:outline-0 flex gap-4 items-center
}

.input-container div{
  @apply flex gap-3 items-center
}

.input{
  @apply bg-transparent w-full text-base placeholder:text-[--placeholder] focus:outline-0
}
.select{
  @apply flex justify-between
}
/* .textbox{} */
